/*  CSS comment */

button {
    color: #fff;
    background: green;
}

/* Style for para */
#para1 {
    color: hotpink;
}

/* Style for para2 */
#para2 {
    color: blue;
}

.content {
    color: lightblue;
    background: lightcoral
}

.outer-box {
    border: solid 1x;
    border-color: red;
    background: lightgreen;
    color: #fff;
    width: 300px;
    height: 200px;
}

.box {
    margin-left: 100px;
    padding-left: 50px;
}

.white {
    color: #fff
        /*  White color  */
}

.inner-div {
    margin:10px;
    background: lightslategray;
    width: 200px;
    height: 100px;
}